html {
    background-image: url(images/bg.png);
}

body {
    height: 100%;
    top: 0;
    bottom: 0;
}

.container {
    position: relative;
    margin: 0 auto;
    display: block;
    margin-top: 200px;
    perspective: 1000px;
    perspective-origin: 60% 50%;
    transform: rotate(-10deg);
}

.container > div {
    position: relative;
    margin: 0 auto;
    transform-style: preserve-3d;
    height: 0;
}

.kyle {
    width: 250px;
    position: absolute;
    top: 0;
    z-index: 1;
    height: 125px !important ;
}

.kyle .star {
    width: 250px;
    height: 250px;
    background: url("images/sunkyle.png");
    background-size: cover;
    border-radius: 250px;
    margin: 0 auto;
    animation: spinsun 40s infinite linear;
    box-shadow: 0 0 50px rgba(255, 165, 0, 0.8);
}

.planet {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    animation-iteration-count: infinite;
    overflow: hidden;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent url("images/shadow.png") no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.ria {
    position: absolute;
    width: 400px;
    z-index: 2;
    animation: orbitria 12s infinite linear;
    top: -7.5px;
}

.ria .planet {
    width: 15px;
    height: 15px;
    background-image: url("images/ria.png");
    animation: anti-spin 12s infinite linear;
}

.ria .shadow {
    animation: shadow 12s infinite linear;
}

.jul {
    position: absolute;
    width: 506px;
    z-index: 3;
    animation: orbitjul 15s infinite linear;
    top: -19px;
}

.jul .planet {
    width: 38px;
    height: 38px;
    background-image: url("images/jul.png");
    animation: anti-spin 15s infinite linear;
}

.jul .shadow {
    animation: shadow 15s infinite linear;
}

.jay{
    position: absolute;
    width: 610px;
    z-index: 4;
    animation: orbitjay 20s infinite linear;
    top: -20px;    
}

.jay .planet {
    width: 40px;
    height: 40px;
    background-image: url("images/jay.png");
    animation: anti-spin 20s infinite linear;
}

.jay .shadow{
    animation: shadow 20s infinite linear;
}

.just{
    position: absolute;
    width: 706px;
    z-index: 5;
    animation: orbitjust 30s infinite linear;
    top: -11px;    
}

.just .planet{
    width: 22px;
    height: 22px;
    background-image: url(images/just.png);
    animation: anti-spin 30s infinite linear;
}

.just .shadow{
    animation: shadow 30s infinite linear
}

.zui{
    position: absolute;
    width: 1100px;
    z-index: 6;
    animation: orbitzui 50s infinite linear;
    top: -64px;    
}

.zui .planet{
    width: 128px;
    height: 128px;
    background-image: url(images/zui.png);
    animation: anti-spin 50s infinite linear;
}

.zui .shadow{
    animation: shadow 50s infinite linear;
}

@keyframes spinsun{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(-360deg);
    }
}

@keyframes shadow{
    0%{
        background-position: 130% 0%;
    }

    33%{
        background-position: 50% 0%;
    }

    55%{
        background-position: 0% 0%;
    }

    80%{
        background-position: -50% 0%;
    }

    100%{
        background-position: -50% 0%;
    }
}

@keyframes orbitria{
    0%{
        z-index: 2;
        transform: rotateY(0);
    }

    49%{
        z-index: 2;
    }

    50%{
        z-index: -2;
    }

    99%{
        z-index: -2;
    }

    0%{
        z-index: 2;
        transform: rotateY(360deg);
    }
}

@keyframes orbitjul{
    0%{
    z-index: 3;
    transform: rotateY(0);
    }

    49%{
        z-index: 3;
    }

    50%{
        z-index: -3;
    }

    99%{
        z-index: -3;
    }

    0%{
        z-index: 3;
        transform: rotateY(360deg);
    }
}

@keyframes orbitjay{
    0%{
    z-index: 4;
    transform: rotateY(0);
    }

    49%{
        z-index: 4;
    }

    50%{
        z-index: -4;
    }

    99%{
        z-index: -4;
    }

    0%{
        z-index: 4;
        transform: rotateY(360deg);
    }
}

@keyframes orbitjust{
    0%{
    z-index: 5;
    transform: rotateY(0);
    }

    49%{
        z-index: 5;
    }

    50%{
        z-index: -5;
    }

    99%{
        z-index: -5;
    }

    0%{
        z-index: 5;
        transform: rotateY(360deg);
    }
}

@keyframes orbitzui{
    0%{
    z-index: 6;
    transform: rotateY(0);
    }

    49%{
        z-index: 6;
    }

    50%{
        z-index: -6;
    }

    99%{
        z-index: -6;
    }

    0%{
        z-index: 6;
        transform: rotateY(360deg);
    }
}
